{% extends 'base.html.twig' %}

{% block title %}Hello GeneralController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>John Doe</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer auctor dui a magna euismod suscipit.
        Cras malesuada massa eget magna dictum, vitae cursus tellus tempus. Duis tincidunt eu felis eget vestibulum.
        Ut ultricies a felis quis sollicitudin. Vivamus fermentum dapibus neque, a semper enim maximus iaculis.
        Suspendisse porta elit in luctus congue. Nunc scelerisque venenatis lacus, vitae pharetra justo blandit non.
        Pellentesque sed ligula mi. Curabitur a ligula et orci tincidunt ornare.
    </p>
    <p>
        Integer cursus diam vel metus ultricies, et gravida massa eleifend. Interdum et malesuada fames ac ante ipsum
        primis in faucibus. Pellentesque ac cursus erat. Vivamus lacus augue, iaculis id placerat ac, cursus vitae urna.
        Proin augue nulla, hendrerit vel tellus in, eleifend auctor urna. Maecenas fringilla tristique metus. Duis
        mattis egestas nisl. In sit amet finibus nisi, sit amet malesuada lacus. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. In malesuada diam lectus, in hendrerit arcu faucibus
        nec. Sed congue vulputate dui sed volutpat. Quisque faucibus metus sit amet diam pellentesque, vitae sodales
        mauris luctus.
    </p>
    <p>
        Sed orci nisl, varius vel iaculis sodales, imperdiet sit amet arcu. Quisque lacinia sapien in eleifend
        facilisis. Integer a laoreet orci. Donec eleifend quam justo, at mattis sem porta id. Donec convallis iaculis
        elit eget finibus. Suspendisse facilisis urna non viverra tincidunt. Morbi ac nulla vitae metus sodales blandit.
        In hac habitasse platea dictumst. Morbi rhoncus dapibus neque, sed pharetra est auctor a. Phasellus in porta
        orci, sed molestie augue. Phasellus non ante condimentum, consequat elit in, fermentum justo. Fusce dictum nunc
        nec metus luctus, condimentum faucibus arcu lacinia.
    </p>


</div>
{% endblock %}
